﻿@using WebUI.Models
@model List<ShopModel>
@{
    Layout = "../Shared/_MainLayout.cshtml";
}
<div class="col-md-6 col-lg-6 col-sm-12">
    <table>
        @foreach (var x in Model)
        {
            <tr>
                <td><a href="@Url.Action("GetProducts", "Home", new {Id = x.Id })"></a></td>
            </tr>
        }
    </table>
</div>
